@import 'tailwindcss';

@theme {
  --color-orange-300: #f56642;
  --color-blue-100: #427bf5;
  --color-gray-50: #f8fafc;
  --color-gray-100: #f1f5f9;
  --color-gray-200: #e2e8f0;
  --color-green-800: #3f6212;
  --color-green-900: #365314;
  --color-green-950: #1a2e05;
}

body {
  @apply antialiased;
  @apply bg-gray-50;
}

*:focus {
  @apply outline-none;
}

a:hover {
  @apply underline decoration-4;
}

a:focus {
  @apply bg-yellow-400 text-black underline decoration-4;
}

a:focus:hover {
  @apply text-black;
}

a:active {
  @apply bg-transparent;
}

@import 'components/markdown.css';
@import 'components/markdown-home.css';
