*:focus {
  @apply outline-none;
}

a:focus {
  @apply bg-yellow-400 text-black underline decoration-4;
}

a:hover {
  @apply text-blue-600 decoration-4;
}

a:focus:hover {
  @apply text-black;
}

a:active {
  @apply bg-transparent;
}
