.markdown {
  @apply font-sans text-gray-800;

  h1,
  h2,
  h3,
  h4,
  h5 {
    @apply font-sans font-bold tracking-tight;
  }

  h1 {
    @apply text-3xl;
  }

  h2 {
    @apply text-2xl;
  }

  h3 {
    @apply text-xl;
  }

  h4 {
    @apply text-lg;
  }

  h5 {
    @apply text-base;
  }

  h6 {
    @apply text-sm font-bold;
  }

  p + h2,
  p + h3,
  ul + h2,
  ul + h3,
  ol + h2,
  ol + h3 {
    @apply mt-6;
  }

  h2 + h3 {
    @apply mt-2;
  }

  p {
    @apply mt-2 leading-relaxed;
  }

  a {
    @apply text-blue-800 underline;
  }

  a:focus {
    @apply bg-yellow-400 text-black underline decoration-4;
  }

  a:hover {
    @apply text-blue-600 decoration-4;
  }

  a:focus:hover {
    @apply text-black;
  }

  a:active {
    @apply bg-transparent;
  }

  ul {
    @apply mt-2 list-disc pl-4;
  }

  ol {
    @apply mt-2 list-decimal pl-8;
  }

  li:not(:last-child) {
    @apply mb-2;
  }

  figure {
    @apply flex flex-col items-center my-5;
    img {
      @apply block h-auto max-w-full text-center rounded-2xl;
    }

    figcaption,
    h2,
    h3,
    h4,
    h5 {
      @apply text-center text-base font-medium text-gray-400;
    }
  }

  blockquote {
    @apply mt-6 mb-8 border-l-4 border-gray-200 pl-3;
  }

  .highlight {
    @apply my-2;
    pre {
      @apply m-0 p-4 text-sm;

      code {
        @apply bg-none p-0;
      }
    }
  }

  pre:has(code) {
    @apply m-4 overflow-x-auto rounded-lg bg-gray-100 p-2;
  }

  pre {
    code {
      @apply bg-inherit font-mono text-sm;
    }
  }

  code {
    @apply rounded-md bg-gray-200 px-1 text-green-800;
  }
}
