{{ define "main" }}
  <main
    class="mx-auto mb-6 mt-2 max-w-5xl space-y-3 px-6 text-lg sm:mb-12 sm:mt-4 sm:space-y-5 sm:px-8 sm:text-xl md:mb-20 md:mt-6 md:space-y-8 md:px-16 md:text-2xl lg:mb-24 lg:space-x-4"
  >
    <div class="text-3xl sm:text-4xl md:text-5xl lg:text-6xl xl:text-7xl">
      <h1 class="text-center font-black leading-tight">
        A nice way for&nbsp;you to&nbsp;manage your&nbsp;small&nbsp;HOA
      </h1>
    </div>
    <div class="markdown">
      {{ .Content }}
    </div>
    <div class="mt-20">
      <p class="mb-6">Thanks for stopping by,</p>
      <p>Erik Hansen</p>
      <p class="text-gray-500 font-light">Creator of Our Little Community</p>
    </div>
  </main>
{{ end }}
