{{ define "main" }}
  <main
    class="mx-auto mb-6 max-w-5xl  px-6 text-lg sm:mb-12 sm: sm:px-8 sm:text-xl md:mb-20 md: md:px-16 md:text-2xl lg:mb-24"
  >
    <div
      class="my-4 text-7xl sm:text-8xl sm:my-6 md:text-9xl md:my-10 lg:text-9xl lg:my-12"
    >
      <h1 class="text-center font-black leading-none">
        Pain&nbsp;relief<br />for&nbsp;your<br />small&nbsp;HOA
      </h1>
    </div>
    <div class="markdown-home">
      {{ .Content }}
    </div>
    <div class="mt-6 md:mt-8 lg:mt-10">
      <p class="">Thanks for stopping by,</p>
      <p>Erik Hansen</p>
      <p class="text-gray-500 font-light">Creator of Our Little Community</p>
    </div>
  </main>
{{ end }}
