{{ define "main" }}
  <main
    class="mx-auto mb-6 mt-2 max-w-5xl space-y-3 px-6 text-lg sm:mb-12 sm:mt-4 sm:space-y-5 sm:px-8 sm:text-xl md:mb-20 md:mt-6 md:space-y-8 md:px-16 md:text-2xl lg:mb-24 lg:space-x-4"
  >
    <div class="text-3xl sm:text-4xl md:text-5xl lg:text-6xl xl:text-6xl">
      <h1 class="text-center font-black leading-tight">
        A nice way for&nbsp;you to&nbsp;manage your&nbsp;small&nbsp;HOA
      </h1>
    </div>
    <p>
      For years I wanted software to help manage my small HOAs. Something
      simple, private, and affordable. I never found what I was looking for, so
      I built Our Little Community.
    </p>
    <p>
      There are a lot of solutions out there for
      <em>large</em>
      HOAs. The kinds of HOAs that are often managed by professional companies.
      These products consider 300-unit complexes to be "small" and often have
      "call us to ask about pricing" models.
    </p>
    <p>No thank you.</p>
    <p>
      By ignoring the needs of large HOAs, I was able to leave out the
      complexity that would bog you down. It offers a modest set of useful
      features:
    </p>
    <ul
      class="list-inside list-disc space-y-1 px-4 sm:space-y-2 sm:px-6 md:space-y-3 md:px-8"
    >
      <li>A community directory (so neighbors won't be strangers)</li>
      <li>
        A way for the HOA Board and other committees to handle requests (so
        information isn't lost in private email)
      </li>
      <li>
        A place to store community documents (so everyone knows where the CC&Rs
        and meeting minutes are)
      </li>
      <li>A way to reserve shared facilities (if you happen to have those)</li>
    </ul>
    <p>
      I built Our Little Community for the 32 home development where I live. And
      it's what I would have wanted at my previous 12 unit community. If you
      already know most of your neighbors' names (or you'd at least like to),
      Our Little Community might be a good fit for you.
    </p>
    <p>
      For about a dollar a day — $30/month, to be precise — your entire
      community gets access. There are no ads. There's no collecting unnecessary
      personal info or other creepiness. It's just me, a solo developer running
      an honest business.
    </p>
    <p>
      The first 30 days are free, so
      <a href="https://app.ourlittlecommunity.org/users/sign_up">
        start setting up your community.
      </a>
      And I'd love it if you'd
      <a href="mailto:suggestions@ourlittlecommunity.org">
        let me know what you think
      </a>
      .
    </p>
    <p>Thanks for stopping by,</p>
    <div>
      <p>Erik Hansen</p>
      <p class="text-gray-500 font-light">Creator of Our Little Community</p>
    </div>
  </main>
{{ end }}
